<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>성인 스마트폰 중독 척도 설문</title>

    <!-- 구글 웹폰트, 나눔 고딕 -->
    <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <!-- 타이틀 영역 시작 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://kwak.knu.ac.kr">성인 스마트폰 중독 척도 설문</a>
        </div>
      </div>
    </nav>
    <!-- 타이틀 영역 끝 -->
    <!-- 본문 영역 시작, 각 페이지의 컨텐츠 입니다.-->
    <div class="container">
            <div class="page-header">
        <h2>실험 안내 사항 등</h2>
      </div>      
       <p>We are passionate about the coliving movement and embrace a collaborative approach to projects. Our hope is to be able to share the information we find with other houses, as well as use it ourselves to identify shared needs within the greater coliving community - we think this is part of the value proposition this process brings to everyone. We also have total respect for your privacy, and coliving houses are your home. All information you share can be as anonymous or open as you'd like. In particular:</p>
      <div style="border: solid 1px #f1f1f1; border-radious:5px; padding: 24px; margin-bottom:20px;">
            <ul>
            <li>Your participation in this study is completely voluntary. You do not have to answer any questions that you do not feel comfortable answering, and you may stop the interview or observation at any point during a session without penalty.</li>
            <li>There are no foreseeable risks to participation in this research.</li>
            <li>We would like permission to record audio of the interview session so that what you say may be transcribed and/or reviewed to ensure accuracy. </li>
            <li>The original audio and text from the interview and any associated observations will be kept confidential to the census team and the interviewer. </li>
            <li>Personally identifying information such as your personal and house names will be removed and replaced with a pseudonym.</li>
            <li>A data set comprised of <em>aggregate</em> data from all participating houses will be compiled and made publicly available.</li>
            <li>You of course MAY elect to make certain answers or information about your individual house public, but that is not required. If there is an opportunity for doing so, we will lay out the structure and implications with you explicitly. </li>
            <li>We will be compiling a written report to accompany the aggregate data set. We may wish to use certain quotes or data points specific to your community in this report. If this is the case, you will be consulted for permission before publication.#}
            <li>Information and experiences related to legal challenges and ambiguities associated with running a coliving house will be kept in the strictest confidence.</li>
            <li>Data will be stored in a web application running on a server. Access to the server is protected with key-based secure logins and the web application is password-protected.</li>
            <li>The software used for this survey is open source and can be retrieved and examined at https://github.com/jessykate/django-survey</li>
            </ul>
      </div>
        <p>You do not have to answer any questions that you do not feel comfortable answering, and you may stop the interview or observation at any point during a session without penalty. Feel free to ask any questions before, during, or after the session, either in person or via email at survey@coliving.org</p>
    </div>

   <!-- 본문 영역 끝-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
